<a href="https://colab.research.google.com/github/moosenasser/ipynb-samples/blob/main/machine-learning/regression/linear_regression_with_sea_levels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containng both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*



---



The goal of this notebook is predicting sea level. Scikit-learn 0.24.2 is utilized to create a linear regression model for accomplishing this task.

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline

import pandas as pd

In [2]:
sea_lvl = 'CSIRO Adjusted Sea Level'
sea_lvl_csv_path = '/content/sample_data/epa-sea-level.csv'

In [3]:
df = pd.read_csv(sea_lvl_csv_path)

In [4]:
df.head()

   Year  CSIRO Adjusted Sea Level  ...  Upper Error Bound  NOAA Adjusted Sea Level
0  1880                  0.000000  ...           0.952756                      NaN
1  1881                  0.220472  ...           1.173228                      NaN
2  1882                 -0.440945  ...           0.464567                      NaN
3  1883                 -0.232283  ...           0.665354                      NaN
4  1884                  0.590551  ...           1.464567                      NaN

[5 rows x 5 columns]

In [5]:
df[sea_lvl].isnull().sum()

0

In [6]:
''' "Lower Error Bound" and "Upper Error Bound" columns are excluded because of
potential target leakage. '''
X = df.Year.values.reshape(-1, 1)

''' "CSIRO Adjusted Sea Level" is the target variable instead of
"NOAA Adjusted Sea Level" because the former has no missing values. '''
y = df[sea_lvl]

In [7]:
# Use pipeline anyway as best practice despite no preprocessing involved.
pipeline = make_pipeline(LinearRegression())

In [8]:
# Change sign since sklearn calculates negative MAE.
scores = -1 * cross_val_score(pipeline, X, y,
                              scoring='neg_mean_absolute_error')

print("Average MAE score:", scores.mean())

Average MAE score: 0.5436109043696911